<div id = " order ">
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.user.email %></td>
        <td><%= order.product_count %></td>
        <td><%= order.delivery_status %></td>
        <td>
          <%= link_to "Afficher", order %>
          <%= link_to "Éditer", edit_order_path(order) %>
          <%= link_to "Supprimer", order, method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cette commande ?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</div>
