<%= form_with(model: @product, local: true, html: { multipart: true }) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit 'Mettre à jour le produit' %>
  </div>
<% end %>

<%= link_to 'Retour à la fiche du produit', @product %>
