<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
        <div class="navbar-logo">
        </div>
        <ul class="navbar-links">
          <li><%= link_to 'Accueil', root_path %></li>
          <% if user_signed_in? %>
            <li><%= button_to 'Déconnexion', destroy_user_session_path, method: :delete %></li>
            <li><%= link_to 'Ajouter un produit', new_product_path %></li>
          <% else %>
            <li><%= link_to 'Inscription', new_user_registration_path %></li>
            <li><%= link_to 'Connexion', new_user_session_path %></li>
            
          <% end %>
          <%= image_tag "carte.png", id: "panier-image" %>
        </ul>
    </nav>


    <%= yield %>
  </body>
</html>
